@charset "UTF-8";


@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));


@font-face {
  font-family: 'Nunito Sans';
  src: url('../public/fonts/NunitoSans-VariableFont_YTLC\,opsz\,wdth\,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

@theme{
  --color-dark-element: hsl(209, 23%, 22%);
  --color-dark-bg: hsl(207, 26%, 17%);
  --color-light-text: hsl(200, 15%, 8%);
  --color-light-input: hsl(0, 0%, 52%);
  --color-light-bg: hsl(0, 0%, 98%);
  --color-light-element: hsl(0, 0%, 100%);

  --font-size-home: clamp(0.875rem, 0.893vw + 0.6rem, 1.5rem); /* or 0.875rem */
  --font-size-detail: clamp(1rem, 0.893vw + 0.821rem, 1.625rem); /* or 1rem */

  --my-shadow: 1px 1px 10px rgba(1, 1, 10, 0.30);
  --my-shadow-dark: 1px 1px 10px rgba(0, 0, 0, 0.60);
}

.box {
  @apply bg-white dark:bg-dark-element shadow-(--my-shadow) dark:shadow-(--my-shadow-dark) rounded-sm
}